doctype html
html
    head
        title Node 2 Lab
        link(rel='stylesheet',href='/styles.css')
    body
        header
            h2 Book Site
        main.book
            section.sidebar
                nav
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='/travel') List
                        li About
                        li Contact us
            section.pagecontent
                block content
        footer
            p &copy 2020